{% extends 'base.html.twig' %}

{% block title %}Hello ImageUploadController!{% endblock %}

{% block body %} 

<div class="container">
 

             <h1>Create new blog entry.</h1>

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.title) }}
            </div>
            <div class="form-group">
                {{ form_row(form.description) }}
            </div>
            
            <div class="form-group">
                {{ form_row(form.image) }}
            </div>
          

            <input type="submit" class="btn btn-primary"/>

            {{ form_end(form) }}
       
</div>
{% endblock %}
